.form{
    text-align: center;
}

.progressbar {
  width: 100%;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 100%;
  height: 100%;
  background-color: #09155F;
    transition: all 1s ease-out;

}



.prev-btn{
      width:10%;
padding:8px;
background-color: #09155F;
border-style: none;
color: #fff;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
display: inline-block;
font-size: 12px;
margin: 10px;
}
.next-btn{
      width:10%;
padding:8px;
background-color: #09155F;
border-style: none;
color: #fff;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
display: inline-block;
font-size: 12px;
}

.skill-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}